{{> header}}

<h2>Welcome to the Contact Page</h2>

{{!--Show all itens on the array --}}

{{#each brand as |value key|}}    

    {{!-- 1ยบ Using {{this}} --}}
    {{!-- <p> {{this}} </p>  --}}

    {{!-- 2ยบ Using {{.}} --}}
    {{!-- <p> {{.}} </p>  --}}

    {{!-- 3ยบ Using on the {{#each brand as |value key|}} --}}
    {{!-- VALUE is the itens and KEY is the index --}}

    <p>{{key}}: {{value}}</p>

{{/each}}

<hr>

{{#each game as |value key|}}
    
    <p>{{key}}: {{value}}</p>

{{/each}} 

<hr>

{{#each list as |xValue xKey|}} 

    {{#each xValue.items as |yValue yKey|}}
        <p>{{yValue}}</p>

    {{/each}}

    <hr>
{{/each}}

{{> footer}}

